*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
    height: 100vh;
    width: 100vw;
    position: relative;
    background: url("https://images.unsplash.com/photo-1732139594992-d1da351d5a25?q=80&w=1611&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center/cover;
}

#profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    z-index: 999;
    font-size: medium;
    color: #fff;
    border-bottom: .5px solid #dadada63;
    background: #ffffff10;
    backdrop-filter: blur(10px);
    padding: 10px 20px;

    #for{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    #student-name{

        font-size: 1.1rem;
        font-weight: 600;
        opacity: .6;
        margin-top: 0;

    }
    p{
        margin-top: 3px;
        font-size: .7rem;
        font-weight: 300;
        opacity: .6;
    }
    #student-id{
        font-size: .7rem;
        font-weight: 500;
        opacity: 1;
        color: #07e48f;
    }
    i{
        font-size: 1.5rem;
        font-weight: 200;
        opacity: .6;
        cursor: pointer;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}
#profile-pic{
    width: 45px;
    height: 45px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 90%;
        height: 90%;
        border-radius: 50%;
        object-fit: cover;
        filter: drop-shadow(0 0 23px #ffffff7a);
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
    }
}
#container{
    color: #a7a19f;
    width: 360px;
    margin: auto;
    padding: 10px;
}
#attendance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: #fff;
    border-radius: 24px;
    background: #ffffff10;
    backdrop-filter: blur(10px);
    border: .5px solid #dadada63;
    #present{
        margin: auto;
        width:80%;
        max-width:600px;
        filter: drop-shadow(0 0 23px #ffffff7a);
    }
}
#myChart{
    background: #ffffff10;
    backdrop-filter: blur(10px);
    border-radius: 24px;
    border: 1px solid #dadada63;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    filter: drop-shadow(0 0 23px #feffc357);
    width: 100%;
}
@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
#validate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    #button{
        cursor: pointer;
        padding: .6rem 1rem;
        height: 100%;
        position: relative;
        background: #000;
        color: #fff;
        font-size: .8rem;
        font-weight: 400;
        border-radius: 10px;
    }
    #button:hover{
        color: #07e48f;
        font-weight: 400;
        transition: 1s;
    }
    #button::after, #button::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: conic-gradient(from var(--angle) ,#145239, #1F6B4D, #2E8B57,#3FA26D,#50C878,#145239);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        padding: 2px;
        border-radius: 10px;
        animation: 3s spin linear infinite;
    }
    #button::before{
        opacity: .5;
        filter: blur(1.5rem);
    }
}   
#details{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 20px;
    border-radius: 24px;
    background: #ffffff10;
    backdrop-filter: blur(20px);
    border: .5px solid #dadada63;
    margin: 20px auto;
    width: 100%;
    #status-run{
        padding-top: 10px;
        font-size: .7rem;
        opacity: .6;
        font-weight: 300;
        filter: drop-shadow(0 0 5px #fff);
    }
    #Time,#day,#running_class{
        filter: drop-shadow(0 0 5px #000000);
        opacity: .8;
        font-size: 1rem;
        font-weight: 600;
    }
    #running_class{
        width: 50%;
        font-size: 1rem;
        font-weight: 500;
        color: #00ff9d;
    }
        #running_class::before{
            content: '';
            font-size: .7rem;
            font-weight: 300;
            color: #fff;
        }
    }
#side-menu{
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    margin-top: 70px;
    width: 370px;
    height: 90vh;
    background: transparent;
    backdrop-filter: blur(2rem);
    border-left: .5px solid #dadada63;
    z-index: 999;
    display: none;
    opacity: 1;
}
#timetablefortoday{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border-radius: 24px;
    backdrop-filter: blur(10px);
    border: .5px solid #dadada63;
    margin-top: 20px;
    width: 100%;
    color: #fff;
    h3{
        color: #07e48f;
        font-weight: 300;
    }
    tr{
        margin-top: .5rem;
    }
    th{
        opacity: .3;
        font-weight: 400;
    }
    td{
        filter: drop-shadow(0 0 2px #229163);
        padding: 5px;
        margin: 5px;
        font-size: .8rem;
        font-weight: 400;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        background: #0000002c;
        backdrop-filter: blur(10px);
        border: .5px solid #dadada63;
    }
}
@keyframes spin {
    0%{
        --angle: 0deg;
    }
    100%{
        --angle: 360deg;
    }
}