*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
    height: 100vh;
    width: 100vw;
    position: relative;
    background: url("https://images.unsplash.com/photo-1732139594992-d1da351d5a25?q=80&w=1611&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center/cover;
}

#profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    z-index: 999;
    font-size: medium;
    color: #fff;
    border-bottom: .5px solid #dadada63;
    background: #ffffff10;
    backdrop-filter: blur(10px);
    padding: 5px 20px;
    #for{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    #student-name{
        font-size: 1.2rem;
        font-weight: 600;
        opacity: .6;
    }
    p{
        margin-top: 3px;
        font-size: .7rem;
        font-weight: 300;
        opacity: .6;
    }
    #student-id{
        font-size: .7rem;
        font-weight: 300;
        opacity: .4;
    }
    i{
        font-size: 2rem;
        opacity: .6;
    }
}
#profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 90%;
        height: 90%;
        border-radius: 50%;
        object-fit: cover;
        filter: drop-shadow(0 0 23px #ffffff7a);
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
    }
}
#container{
    color: #a7a19f;
    width: 360px;
    margin: auto;
    padding: 20px;
}
#attendance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: #fff;
    border-radius: 24px;
    background: #ffffff10;
    backdrop-filter: blur(10px);
    border: .5px solid #dadada63;
    #present{
        margin: auto;
        width:80%;
        max-width:600px;
        filter: drop-shadow(0 0 23px #ffffff7a);
    }
}
#myChart{
    background: #ffffff10;
    backdrop-filter: blur(10px);
    border-radius: 24px;
    border: 1px solid #dadada63;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    filter: drop-shadow(0 0 23px #feffc357);
    width: 100%;
}
#validate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    #button{
        cursor: pointer;
        padding: .6rem 1rem;
        height: 100%;
        position: relative;
        background: #000;
        color: #fff;
        font-size: .8rem;
        font-weight: 300;
        border-radius: 10px;
    }
    #button::after, #button::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(#145239, #1F6B4D, #2E8B57,#3FA26D,#50C878,#145239);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        padding: 1px;
        border-radius: 10px;
    }
    #button::before{
        opacity: .5;
        filter: blur(1.5rem);
    }
}   
#class-schedule{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    margin: 20px auto;
    color: #fff;
    border-radius: 24px;
    background: #ffffff10;
    backdrop-filter: blur(10px);
    border: .5px solid #dadada63;
    #class{
        margin: auto;
        width:80%;
        max-width:600px;
        filter: drop-shadow(0 0 23px #ffffff7a);
    }
    #class-list{
        width: 100%;
    }
    table{
        width: 100%;
        padding: 10px;
    }
    tr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        color: #fff;
    }
}