*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    color-scheme:light dark ;
    --lightback:linear-gradient(0deg,#fff,#50C878);
    --darkback:linear-gradient(0deg,#68686800,#c6fcdbe3);
  }
body{
    font-family: 'Poppins';
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: light-dark(--lightback,--darkback);
}
body {
    margin: 0;
    min-height: 100vh;
    
    background: var(--lightback); /* Default light mode */
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background: var(--darkback);
    }
  }
  
#slide{
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    z-index: 999;
    font-size: medium;
    color: #000;
    border-bottom: .5px solid #dadada63;
    background: #00000010;
    backdrop-filter: blur(10px);
    padding: 10px 20px;

    #for{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    #student-name{

        font-size: 1.1rem;
        font-weight: 600;
        opacity: .6;
        margin-top: 0;

    }
    p{
        margin-top: 3px;
        font-size: .7rem;
        font-weight: 300;
        opacity: .6;
    }
    #userId{
        font-size: .7rem;
        font-weight: 500;
        opacity: 1;
        color: #145239;
    }
    i{
        font-size: 1.5rem;
        font-weight: 200;
        opacity: .6;
        cursor: pointer;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}
#profile-pic{
    width: 60px;
    height: 60px;
    background: #00000010;
    padding: 1px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 90%;
        height: 90%;
        border-radius: 50%;
        object-fit: cover;
        margin: auto;
        border: .1px solid #145239;
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
    }
}
#container{
    color: #a7a19f;
    width: 360px;
    margin: auto;
    margin-top: 1rem;
    padding: 10px;
    border-bottom: .5px solid #dadada63;
    background: #00000010;
    backdrop-filter: blur(20px);
    border-radius: 24px;
}
#details{
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 20px;
    border-radius: 24px;
    margin: auto;
    width: 100%;
    #hima{
        width: 300px;
        z-index: 909;
    }
    #status-run{
        padding-top: 10px;
        font-size: .7rem;
        opacity: .6;
        font-weight: 500;
    }
    #Time,#day,#running_class{
        opacity: .8;
        font-size: 1rem;
        font-weight: 600;
    }
    #running_class{
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        color: #145239;
    }
        #running_class::before{
            content: '';
            font-size: .7rem;
            font-weight: 300;
            color: #000;
        }
    }
#attendance{
    width: 150px;
    z-index: 0;
    position: relative;
    right: -40px;
    #present{
        margin: auto;
        filter: drop-shadow(0 0 23px #0000007a);
    }
}
#myChart{
    border-radius: 24px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    filter: drop-shadow(0 0 23px #feffc357);
    width: 100%;
}
@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
#validate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    #button{
        cursor: pointer;
        margin-top: 15px;
        padding: .6rem 1rem;
        height: 100%;
        position: relative;
        background: #000;
        color: #fff;
        font-size: .8rem;
        font-weight: 400;
        border-radius: 10px;
    }
    #button:hover{
        color: #07e48f;
        font-weight: 400;
        transition: 1s;
    }
    #button::after, #button::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: conic-gradient(from var(--angle) ,#145239, #1F6B4D, #2E8B57,#3FA26D,#50C878,#145239);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        padding: 3px;
        border-radius: 10px;
        animation: 3s spin linear infinite;
    }
    #button::before{
        opacity: .5;
        filter: blur(1.5rem);
    }
}   

#side-menu{
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    margin-top: 70px;
    width: 370px;
    height: 90vh;
    background: transparent;
    backdrop-filter: blur(2rem);
    border-left: .5px solid #dadada63;
    z-index: 999;
    display: none;
    opacity: 1;
}
#prison{
    width: 360px;
    margin: auto;
    padding: 10px;
}
#timetablefortoday{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 24px;
    border-bottom: .5px solid #dadada63;
    background: #00000010;
    backdrop-filter: blur(20px);
    margin-top: 24px;
    width: 100%;
    h3{
        color: #145239;
        font-weight: 400;
        font-size: 1rem;
    }
    th{
        font-size: .6rem;
        opacity: 1;
        font-weight: 300;
    }
    td{
        padding: 5px;
        margin: 5px;
        font-size: .8rem;
        font-weight: 400;
        color: #000;
        text-align: center;
        border-radius: 10px;
        background: transparent;
        backdrop-filter: blur(10px);
        border: .5px solid #dadada63;
    }
}
@keyframes spin {
    0%{
        --angle: 0deg;
    }
    100%{
        --angle: 360deg;
    }
}