*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    color-scheme:light dark ;
    --lightback:linear-gradient(0deg,#fff,#50C878);
    --darkback:linear-gradient(0deg,#68686800,#c6fcdbe3);
  }
body{
    font-family: 'Poppins';
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: light-dark(--lightback,--darkback);
}
body {
    margin: 0;
    min-height: 100vh;
    
    background: var(--lightback); /* Default light mode */
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background: var(--darkback);
    }
  }
#header{
    display: none;
    padding: 1rem;
    width: 100%;
    height: 3rem;
    border-bottom: .5px solid #dadada63;
    background: #00000010;
    backdrop-filter: blur(2rem);
}  
#first_page{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 350px;
    height: 75vh;
    border-bottom: .5px solid #dadada63;
    border-radius: 20px;
    background: #00000010;
    padding: 1rem;
    margin-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    #img{
        img{
            filter: grayscale(20%);
        }
    }
    #form{
        margin-top: 10px;
        h3{
            font-size: 1rem;
            font-weight: 700;
            opacity: .7;
            filter: drop-shadow(0 0 5px #0000002d);
        }
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        label{
            font-size: .8rem;
            font-weight: 400;
            margin-bottom: 1px;
            opacity: .5;
        }
        input{
            height: 2rem;
            margin-bottom: 1rem;
            border-radius: 10px;
            padding-left: 1rem;
            border: none;
            background-color: #00000010;
            color: #00000080;
            font-size: 1rem;
            &:focus{
                outline: none;
                background-color: #00000020;
                color: #00000090;
            }
        }
        #button-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
#button{
    cursor: pointer;
    padding: .6rem .8rem;
    height: 100%;
    position: relative;
    background: #000;
    color: #fff;
    font-size: .8rem;
    font-weight: 300;
    border-radius: 10px;
}
#button:hover{
    color: #07e48f;
    font-weight: 400;
    transition: 1s;
}
#button::after, #button::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle) ,#145239, #1F6B4D, #2E8B57,#3FA26D,#50C878,#145239);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 1px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}